<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Filtros (Pipes)</h3>
  </div>
  <div class="panel-body">
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<tr>
				<th>Filtro (Pipe)</th>
				<th>Descrição</th>
				<th>Utilização</th>
				<th>Valor de entrada</th>
				<th>Valor de saída</th>
			</tr>
			<tr>
				<td>kzCep</td>
				<td>Formata um CEP</td>
				<td>{{ "{{'20563526' | kzCep}\}" }}</td>
				<td>20563526</td>
				<td>{{'20563526' | kzCep}}</td>
			</tr>
			<tr>
				<td>kzCpf</td>
				<td>Formata um CPF</td>
				<td>{{ "{{'32545233587' | kzCpf}\}" }}</td>
				<td>32545233587</td>
				<td>{{'32545233587' | kzCpf}}</td>
			</tr>
			<tr>
				<td>kzCnpj</td>
				<td>Formata um CNPJ</td>
				<td>{{ "{{'32545233587524' | kzCnpj}\}" }}</td>
				<td>32545233587524</td>
				<td>{{'32545233587524' | kzCnpj}}</td>
			</tr>
			<tr>
				<td>kzCpfCnpj</td>
				<td>Formata um CPF/CNPJ</td>
				<td>{{ "{{'32545233587' | kzCpfCnpj}\}" }}</td>
				<td>32545233587</td>
				<td>{{'32545233587' | kzCpfCnpj}}</td>
			</tr>
			<tr>
				<td>kzCpfCnpj</td>
				<td>Formata um CPF/CNPJ</td>
				<td>{{ "{{'32545233587524' | kzCpfCnpj}\}" }}</td>
				<td>32545233587524</td>
				<td>{{'32545233587524' | kzCpfCnpj}}</td>
			</tr>
			<tr>
				<td>date</td>
				<td>Formata uma data</td>
				<td>{{ "{{data | date:'dd/MM/yyyy'}\}" }}</td>
				<td>Objeto 'Date' 21/07/2016 16:53:54</td>
				<td>{{data | date:'dd/MM/yyyy'}}</td>
			</tr>
			<tr>
				<td>date</td>
				<td>Formata uma data e hora</td>
				<td>{{ "{{data | date:'dd/MM/yyyy HH:mm:ss'}\}" }}</td>
				<td>Objeto 'Date' 21/07/2016 16:53:54</td>
				<td>{{data | date:'dd/MM/yyyy HH:mm:ss'}}</td>
			</tr>
		</table>
	</div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Validadores (Validators)</h3>
  </div>
  <div class="panel-body">
	<form class="form-horizontal">
	  <div class="table-responsive">
		<table class="table table-striped table-hover">
			<tr>
				<th>Validador</th>
				<th>Descrição</th>
				<th>Utilização</th>
				<th>Valor</th>
				<th>Valor no model</th>
			</tr>
			<tr>
				<td>kz-cpf</td>
				<td>Valida um CPF</td>
				<td>kz-cpf</td>
				<td>
					<input 
				      	type="text" 
				      	class="form-control" 
				      	name="cpf" 
				      	id="cpf" 
				      	placeholder="999.999.999-99" 
				      	maxlength="14" 
				      	[(ngModel)]="cpfModel" 
				      	#cpf="ngModel" 
				      	kz-cpf 
				        kzMask="999.999.999-99">
				    <div class="col-sm-8 text-success" 
				    	*ngIf="!cpf.errors && !cpf.pristine">
				    	<span class="glyphicon glyphicon-ok" 
				    		aria-hidden="true"></span> CPF válido!
				    </div>
				    <div class="col-sm-8 text-danger" 
				    	*ngIf="cpf.errors && !cpf.pristine">
				    	<span class="glyphicon glyphicon-remove" 
				    		aria-hidden="true"></span> CPF inválido.
				    </div>
				</td>
				<td>{{ cpfModel }}</td>
			</tr>
			<tr>
				<td>kz-cnpj</td>
				<td>Valida um CNPJ</td>
				<td>kz-cnpj</td>
				<td>
					<input 
				      	type="text" 
				      	class="form-control" 
				      	id="cnpj" 
				      	name="cnpj" 
				      	placeholder="99.999.999/9999-99" 
				      	maxlength="18" 
				      	[(ngModel)]="cnpjModel" 
				      	#cnpj="ngModel" 
				      	kz-cnpj
				      	kzMask="99.999.999/9999-99">
				    <div class="col-sm-8 text-success" 
				    	*ngIf="!cnpj.errors && !cnpj.pristine">
				    	<span class="glyphicon glyphicon-ok" 
				    		aria-hidden="true"></span> CNPJ válido!
				    </div>
				    <div class="col-sm-8 text-danger" 
				    	*ngIf="cnpj.errors && !cnpj.pristine">
				    	<span class="glyphicon glyphicon-remove" 
				    		aria-hidden="true"></span> CNPJ inválido.
				    </div>
				</td>
				<td>{{ cnpjModel }}</td>
			</tr>
			<tr>
				<td>kz-cpf-cnpj</td>
				<td>Valida um CPF/CNPJ</td>
				<td>kz-cpf-cnpj</td>
				<td>
					<input 
				      	type="text" 
				      	class="form-control" 
				      	id="cpfCnpf" 
				      	name="cpfCnpf" 
				      	placeholder="CPF/CNPJ" 
				      	maxlength="14" 
				      	[(ngModel)]="cpfCnpjModel" 
				      	#cpfCnpj="ngModel" 
				      	kz-cpf-cnpj>
				    <div class="col-sm-8 text-success" 
				    	*ngIf="!cpfCnpj.errors && !cpfCnpj.pristine">
				    	<span class="glyphicon glyphicon-ok" 
				    		aria-hidden="true"></span> CPF/CNPJ válido!
				    </div>
				    <div class="col-sm-8 text-danger" 
				    	*ngIf="cpfCnpj.errors && !cpfCnpj.pristine">
				    	<span class="glyphicon glyphicon-remove" 
				    		aria-hidden="true"></span> CPF/CNPJ inválido.
				    </div>
				</td>
				<td>{{ cpfCnpjModel }}</td>
			</tr>
		</table>
	  </div>
	</form>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Máscaras</h3>
  </div>
  <div class="panel-body">
	<form class="form-horizontal">
	  <div class="table-responsive">
		<table class="table table-striped table-hover">
			<tr>
				<th>Máscara (Directive)</th>
				<th>Descrição</th>
				<th>Utilização</th>
				<th>Valor</th>
				<th>Valor no model</th>
			</tr>
			<tr>
				<td>kzMask</td>
				<td>Formata um CPF</td>
				<td>kzMask="999.999.999-99"</td>
				<td>
					<input 
				      	type="text" 
				      	class="form-control" 
				      	name="cpfMask" 
				      	id="cpfMask" 
				      	placeholder="999.999.999-99" 
				      	maxlength="14" 
				      	[(ngModel)]="cpfModelMask" 
				      	kzMask="999.999.999-99">
				</td>
				<td>{{ cpfModelMask }}</td>
			</tr>
			<tr>
				<td>kzMask</td>
				<td>Formata um CNPJ</td>
				<td>kzMask="99.999.999/9999-99"</td>
				<td>
					<input 
				      	type="text" 
				      	class="form-control" 
				      	id="cnpjMask" 
				      	name="cnpjMask" 
				      	placeholder="99.999.999/9999-99" 
				      	maxlength="18" 
				      	[(ngModel)]="cnpjModelMask" 
				      	kzMask="99.999.999/9999-99">
				</td>
				<td>{{ cnpjModelMask }}</td>
			</tr>
			<tr>
				<td>kzMask</td>
				<td>Formata um CEP</td>
				<td>kzMask="99999-999"</td>
				<td>
					<input 
				      	type="text" 
				      	class="form-control" 
				      	id="cepMask" 
				      	name="cepMask" 
				      	placeholder="99999-999" 
				      	maxlength="9" 
				      	[(ngModel)]="cepModelMask"
				      	kzMask="99999-999">
				</td>
				<td>{{ cepModelMask }}</td>
			</tr>
			<tr>
				<td>kzMask</td>
				<td>Formata uma Data e Hora</td>
				<td>kzMask="99/99/9999 99:99:99"</td>
				<td>
					<input 
				      	type="text" 
				      	class="form-control" 
				      	id="dataHoraMask" 
				      	name="dataHoraMask" 
				      	placeholder="dd/mm/yyyy hh:mm:ss" 
				      	maxlength="19" 
				      	[(ngModel)]="dataHoraModelMask"
				      	kzMask="99/99/9999 99:99:99">
				</td>
				<td>{{ dataHoraModelMask }}</td>
			</tr>
			<tr>
				<td>kzMask</td>
				<td>Formata uma Data</td>
				<td>kzMask="99/99/9999"</td>
				<td>
					<input 
				      	type="text" 
				      	class="form-control" 
				      	id="dataMask" 
				      	name="dataMask" 
				      	placeholder="dd/mm/yyyy" 
				      	maxlength="10" 
				      	[(ngModel)]="dataModelMask"
				      	kzMask="99/99/9999">
				</td>
				<td>{{ dataModelMask }}</td>
			</tr>
			<tr>
				<td>kzMask</td>
				<td>Formata uma Hora</td>
				<td>kzMask="99:99:99"</td>
				<td>
					<input 
				      	type="text" 
				      	class="form-control" 
				      	id="horaMask" 
				      	name="horaMask" 
				      	placeholder="hh:mm:ss" 
				      	maxlength="8" 
				      	[(ngModel)]="horaModelMask"
				      	kzMask="99:99:99">
				</td>
				<td>{{ horaModelMask }}</td>
			</tr>
			<tr>
				<td>kzPikaday</td>
				<td>Exibe calendário para selecionar a data</td>
				<td>kzPikaday="idCampoInputData"</td>
				<td>
				    <input 
						type="text" 
						class="form-control"
						placeholder="dd/mm/yyyy"
						id="pikadayData"
						name="pikadayData"
						[(ngModel)]="pikadayData"
						kzPikaday="pikadayData"> 
				</td>
				<td>{{ pikadayData }}</td>
			</tr>
		</table>
	  </div>
	</form>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Máscaras de Valores Monetários</h3>
  </div>
  <div class="panel-body">
	<form class="form-horizontal">
	  <div class="table-responsive">
		<table class="table table-striped table-hover">
			<tr>
				<th>Máscara (Directive)</th>
				<th>Descrição</th>
				<th>Utilização</th>
				<th>Valor</th>
				<th>Valor no model</th>
			</tr>
			<tr>
				<td>kzMaskCurrency</td>
				<td>Formata moeda padrão</td>
				<td>kzMaskCurrency</td>
				<td>
					<input 
				      	type="text" 
				      	class="form-control" 
				      	name="currencyMask" 
				      	id="currencyMask" 
				      	placeholder="0,00" 
				      	maxlength="15" 
				      	[(ngModel)]="currencyModelMask" 
				      	kzMaskCurrency>
				</td>
				<td>{{ currencyModelMask }}</td>
			</tr>
			<tr>
				<td>kzMaskCurrency</td>
				<td>Formata moeda com prefixo R$</td>
				<td>[kzMaskCurrency]="{{"{"}}prefixo:'R$'}"</td>
				<td>
					<input 
				      	type="text" 
				      	class="form-control" 
				      	name="currencyMaskPre" 
				      	id="currencyMaskPre" 
				      	placeholder="0,00" 
				      	maxlength="15" 
				      	[(ngModel)]="currencyPreModelMask" 
				      	[kzMaskCurrency]="{prefixo:'R$'}">
				</td>
				<td>{{ currencyPreModelMask }}</td>
			</tr>
			<tr>
				<td>kzMaskCurrency</td>
				<td>Formato americano</td>
				<td>[kzMaskCurrency]="{{"{"}}decimal:'.', milhar:','}"</td>
				<td>
					<input 
				      	type="text" 
				      	class="form-control" 
				      	name="currencyMaskUS" 
				      	id="currencyMaskUS" 
				      	placeholder="0,00" 
				      	maxlength="15" 
				      	[(ngModel)]="currencyUSModelMask" 
				      	[kzMaskCurrency]="{decimal:'.', milhar:','}">
				</td>
				<td>{{ currencyUSModelMask }}</td>
			</tr>
		</table>
	  </div>
	</form>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Paginação</h3>
  </div>
  <div class="panel-body">
  	<table class="table table-striped">
  		<tr>
  			<th>ID</th>
  			<th>Nome</th>
  		</tr>
  		<tr *ngFor="let aluno of alunos">
  			<td>{{aluno.id}}</td>
  			<td>{{aluno.nome}}</td>
  		</tr>
  	</table>
	<kz-paginacao 
		[qtdPorPagina]="qtdPorPagina" 
		[totalRegistros]="alunosTotal.length"
		[qtdAdjacentes]="3"
		(onPaginate)="paginar($event)">
	</kz-paginacao>
  </div>
</div>
