<h1>Cadastrar #MODULO_CAP#</h1>

<div class="well">
    <form role="form">
        <div class="form-group">
            <label class="control-label" for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" 
                id="nome" [(ngModel)]="#MODULO#.nome">
        </div>
        <div class="form-group text-center">
            <button class="btn btn-success" (click)="cadastrar()">
                Cadastrar
            </button>
			<a class="btn btn-default" [routerLink]="['/#MODULO_PLURAL#']">
                Voltar
            </a>
        </div>
    </form>
</div>
